<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <h2>Sign Up</h2></br>

  <%= devise_error_messages! %>

  <div class="left">
      <div><label>First name</label><br />
      <%= f.text_field :firstname %></div>
    
      <div><label>Last name</label><br />
      <%= f.text_field :lastname %></div>

    <div>
        <label>PVE Sport nick name</label>
        <div class="note">This will be displayed as: firstname "Nick Name" lastname e.g. Harry "The Hurricane" Hill:</div>
        <%= f.text_field :username %>
    </div>

    <%= render :partial => "devise/shared/links" %>
  </div>

  <div class="right">

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Submit" %>
  </div>
<% end %>
