<%= form_for(@pool_session) do |f| %>
  <% if @pool_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool_session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @pool_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player1 %><br />
    <%= collection_select(:pool_session, :player1, @users, :id, :pool_name) %>
  </div>

  <div class="field">
    <%= f.label :player1_score %><br />
    <%= f.text_field :player1_score %>
  </div>

  <div class="field">
    <%= f.label :player2 %><br />
    <%= collection_select(:pool_session, :player2, @users, :id, :pool_name) %>
  </div>

  <div class="field">
    <%= f.label :player2_score %><br />
    <%= f.text_field :player2_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
